
/* Your CSS Code here. */
.holder {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns of equal width */
  grid-template-rows: repeat(2, 1fr); /* Two rows of equal height */
  
  width: 200px;
  height: 200px;
}

.item{
	background: green;
	color:white;
	text-align:center;
}
